.pokemonDetail {
    position: relative;
    padding: 1.5rem 0;

    @media screen and (max-width: 768px) {
        padding: 0 0 3rem 0;
    }

    .previous {
        img {
            position: fixed;
            left: 20px;
            top: 120px;
            width: 25px;
            height: 25px;
            border-radius: 5px;
            padding: 0.5rem;

            &:hover {
                background-color: #e9f7ca;
            }

            @media screen and (max-width: 768px) {
                top: 170px;
            }
        }


    }

    .wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;

        h1 {
            font-size: 1.5rem;
        }

        .title {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2rem;
            margin-top: 2rem;

            span {
                font-size: 1.5rem;
            }
        }

        .specWrap {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3rem;
            padding: 1rem;
            border: 5px dotted #cdcdcd;

            @media screen and (max-width: 768px) {
                flex-direction: column;
            }

            .gameImage {
                display: flex;
                flex-direction: column;

                @media screen and (max-width: 768px) {
                    flex-direction: row;
                }
            }


            .spec {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1.5rem;

                strong {
                    color: #b10000;
                }

                .types,
                .height,
                .weight {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 1rem;
                }

            }
        }
    }

}